In [1]:
%%writefile testutility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re

def readcon(file):
    with open(file, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)
            
nempty = 0
def check_col(f1,f2):
    get = True
    f1list = list(f1.columns)
    yes = 'Correct. All columns validated'
    empty = []
    for i in f2:
        if i not in f1list:
            empty.append(i)
            yes = 'Incorrect. Following columns are not in File: ' + str(empty)
            nempty += 1
        else:
            nempty = 0
            
    return yes

def check_len(f1,f2):
    lenf1 = len(f1)
    lenf2 = len(f2)
    yes = 'yup'
    if lenf1 == lenf2:
        yes = 'Both File and YAML column lengths sufficient'
    else:
        yes = 'File and YAML column lenghths unsufficient'
    return yes

Overwriting testutility.py

In [2]:
%%writefile file.yaml
f_type: csv
f_name: kill_match_stats_final_0
delimiter: ","
columns:
    - killed_by
    - killer_name
    - killer_place
    - x_position
    - y_position

Overwriting file.yaml

In [3]:
import testutility as nen
conf_data = nen.readcon("file.yaml")
conf_data

{'f_type': 'csv',
 'f_name': 'kill_match_stats_final_0',
 'delimiter': ',',
 'columns': ['killed_by',
  'killer_name',
  'killer_place',
  'x_position',
  'y_position']}

In [4]:
import pandas as pd
df = pd.read_csv("kill_match_stats_final_0.csv",delimiter=',')
df.head()

,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
0,Grenade,KrazyPortuguese,5.0,657725.10,146275.2,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,823,KrazyPortuguese,5.0,657725.10,146275.2
1,SCAR-L,nide2Bxiaojiejie,31.0,93091.37,722236.4,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,194,X3evolution,33.0,92238.68,723375.1
2,S686,Ascholes,43.0,366921.40,421623.9,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,103,CtrlZee,46.0,367304.50,421216.1
3,Down and Out,Weirdo7777,9.0,472014.20,313274.8,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,BlackDpre,13.0,476645.90,316758.4
4,M416,Solayuki1,9.0,473357.80,318340.5,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,Vjolt,13.0,473588.50,318418.8

In [5]:
ctype = conf_data['f_type']
cdel = conf_data['delimiter']
cname = conf_data['f_name']
cdel

','

In [6]:
newdf = pd.read_csv(cname+'.'+ctype, cdel)
newdf.head()

C:\Users\Tahsin\AppData\Local\Temp\ipykernel_42364\2982645809.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  newdf = pd.read_csv(cname+'.'+ctype, cdel)

,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
0,Grenade,KrazyPortuguese,5.0,657725.10,146275.2,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,823,KrazyPortuguese,5.0,657725.10,146275.2
1,SCAR-L,nide2Bxiaojiejie,31.0,93091.37,722236.4,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,194,X3evolution,33.0,92238.68,723375.1
2,S686,Ascholes,43.0,366921.40,421623.9,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,103,CtrlZee,46.0,367304.50,421216.1
3,Down and Out,Weirdo7777,9.0,472014.20,313274.8,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,BlackDpre,13.0,476645.90,316758.4
4,M416,Solayuki1,9.0,473357.80,318340.5,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,Vjolt,13.0,473588.50,318418.8

In [13]:
l = nen.check_col(df,conf_data['columns'])
l

"Incorrect. Following columns are not in File: ['killer_place', 'x_position', 'y_position']"

In [11]:
r = nen.check_len(df,conf_data['columns'])
r

'File and YAML column lenghths unsufficient'

In [9]:
print("columns of files are:" ,df.columns)
print("columns of YAML are:" ,conf_data['columns'])

columns of files are: Index(['killed_by', 'killer_name', 'killer_placement', 'killer_position_x',
       'killer_position_y', 'map', 'match_id', 'time', 'victim_name',
       'victim_placement', 'victim_position_x', 'victim_position_y'],
      dtype='object')
columns of YAML are: ['killed_by', 'killer_name', 'killer_place', 'x_position', 'y_position']

In [16]:
if r == 'File and YAML column lenghths unsufficient' or 'Incorrect' in l:
    print('Failed Validation')

Failed Validation

In [17]:
len(df)

13426348

In [19]:
len(df.columns)

12